@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d4dab9;
  font-family: "Noto Sans Thai", sans-serif; /* Use the imported font */
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.pagination-button {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .pagination-container {
    flex-direction: column;
  }

  .pagination-button {
    width: 100%;
    justify-content: center;
  }
}
